.about_container {
    width: 100%;
    height: 92vh;
    background-color: #212529;
}

.about_info {
    height:75vh;
    width: 100%;
    color: rgb(0, 0, 0);
    padding: 0px 0px;
    background-color: #212529;
}

.about_wrapper {
    width: 50%;
    height: 100%;
    display: inline-block;
}

.head{
    font-weight: 400;
    font-size: 45px;
    color: aliceblue;
    font-family: Montserrat,sans-serif;
}

.about_text {
    font-weight: 400;
    font-size: 30px;
    font-family: Montserrat,sans-serif;
    color: aliceblue;
}

.about_image {
    width: 40%;
    height: 100%;
    display: inline-block;
}

.image {
    width: 240px;
    height: 280px;
    box-shadow: 3px 3px 3px 1px rgba(255, 255, 255, 0.4);
    position: relative;
    left: 30%;
}

.about_wrapper img {
    width: 150px;
    height: 120px;
    position: relative;
    top: 10%;
    right: -45%;
    background-color: aliceblue;
    border-radius: 50%;
}

@media screen and  (max-width: 1024px)
{
    .about_container {
        width: 100%;
        height: 100%;
     
    }

    .about_info {
        height: 100%;
        width: 100%;
        color: #0b0f22;
        padding: 30px;
    }

    .about_image {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .about_wrapper {
        width: 100%;
        height: 100%;
        padding: 0px 40px;
    }

    .image {
        width: 300px;
        height: 320px;
        border-radius: 50%;
        box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.4);
    }
    .head{
        font-family: 'Charis SIL', serif;
        font-size: 45px;
    }
    
    .about_text {
        font-weight: 400;
        font-size: 32px;
        font-family: 'Charis SIL', serif;
    }

    .about_wrapper img {
        width: 130px;
        height: 100px;
        position: relative;
        top: 90px;
        right: -55%;
    }
}

@media screen and (max-width : 768px) 
 {
    .about_info {
        height: 100%;
        width: 100%;
        color: #0b0f22;
        padding: 30px;
    }

    .about_image {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .about_wrapper {
        width: 100%;
        height: 100%;
    }

    .image {
        width: 300px;
        height: 320px;
        border-radius: 50%;
        box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.4);
    }
    .head{
        font-family: 'Charis SIL', serif;
        font-size: 40px;
    }
    
    .about_text {
        font-weight: 400;
        font-size: 28px;
        font-family: 'Charis SIL', serif;
    }

    .about_wrapper img {
        width: 100px;
        height: 80px;
        position: relative;
        top: 80px;
        right: -70%;
        
    }
}

@media  screen and (max-width : 480px) 
 {
    .about_info {
        height: 100%;
        width: 100%;
        color: #0b0f22;
        padding: 20px 30px;
      
    }

    .about_image {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .about_wrapper {
        width: 100%;
        height: 100%;
    }

    .image {
        width: 200px;
        height: 230px;
        border-radius: 50%;
        box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.4); 
    }

    .head{
        font-family: 'Charis SIL', serif;
        font-size: 30px;
    }
    
    .about_text {
        font-weight: 400;
        font-size: 20px;
        font-family: 'Charis SIL', serif;
    }

    .about_wrapper img {
        width: 70px;
        height: 50px;
        position: relative;
        top: 55px;
        right: -80%;
        
    }
}



.more_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #131313;
   
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s ease;
}

.about_btn{
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: inherit;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
}

.arrow {
    border:solid rgb(254, 254, 254);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
    transition: 0.3s ease;
  }

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

.more:hover>.about_btn{
    color: #767676;
}

.more:hover> .arrow{
    border:solid #767676;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}